table.schedule-overview td.timeslot, table.schedule-overview td.weekday {
  font-weight: bold;
  white-space: nowrap; }
table.schedule-overview td.dim {
  opacity: .3;
  position: relative;
  z-index: -999; }
  table.schedule-overview td.dim:hover {
    opacity: .9;
    -webkit-transition: opacity ease-in-out .2s;
    transition: opacity ease-in-out .2s; }
table.conference-schedule-auto tr.last-set {
  border-bottom-width: 3px; }
table.conference-schedule-auto .operations ul {
  margin: 0;
  padding: 0; }
table.conference-schedule-auto .operations li {
  float: left;
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0; }

div[id*=timeslots-add-more-wrapper] .form-wrapper .form-item {
  display: inline-block; }

@media screen {
  .form-type-radiomatrix td .form-type-radio {
    text-align: center; }
  .form-type-radiomatrix td label.option {
    display: none; }
  .form-type-radiomatrix td.current {
    background-color: #00e600; }
  .form-type-radiomatrix td.scheduled {
    background-color: #ff6666; } }
