table {
  &.schedule-overview {
    td {
      &.timeslot,
      &.weekday {
        font-weight: bold;
        white-space: nowrap;
      }

      &.dim {
        opacity: .3;
        position: relative; // Fixes stacking context of opacity
        z-index: -999;

        &:hover {
          opacity: .9;
          transition: opacity ease-in-out .2s;
        }
      }
    }
  }

  &.conference-schedule-auto {
    tr.last-set {
      border-bottom-width: 3px;
    }

    .operations {
      ul {
        margin: 0;
        padding: 0;
      }

      li {
        float: left;
        list-style: none;
        margin: 0 1em 0 0;
        padding: 0;
      }
    }
  }
}

div[id*=timeslots-add-more-wrapper] {
  .form-wrapper {
    .form-item {
      display: inline-block;
    }
  }
}

@media screen {
  .form-type-radiomatrix {
    td {
      .form-type-radio {
        text-align: center;
      }

      label.option {
        display: none;
      }

      &.current {
        background-color: lighten(green, 20%);
      }
      &.scheduled {
        background-color: lighten(red, 20%);
      }
    }
  }
}